<div style="margin-top: 4em">
  <div class="my-row">
    <div class="col-mmd-4 my-row justify-content-center" style=" box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.58)  ;" >
      <div class="col-mmd-11 my-side-bar">
        <div class="content-side-bar">
          <div class="my-row justify-content-center mt-3">
            <button [hidden]="isOrder" (click)="openOrder()" class="my-main-button">Đặt bàn</button>
            <button [hidden]="!isOrder" (click)="closeOrder()" class="my-main-button">Đóng</button>
          </div>
          <div [hidden]="!isOrder">
            <h5 style="margin-top: 1em">Danh sách món đã chọn</h5>
            <ul class="list-unstyled container-food-order">
                <li >
                  <span>Hủ Tiếu Chay</span>
                  <span class="float-end">
                    <button>-</button>
                    <button>5</button>
                    <button>+</button>
                  </span>
                </li>
                <li>content</li>
                <li>content</li>
                <li>content</li>
                <li>content</li>
            </ul>
            <h5 style="margin-top: 1em">Chọn bàn</h5>
            <p>2</p>
            <select class="my-input-search-order" >
              <option selected [value]="null">-chọn tầng-</option>
            </select>
            <select class="my-input-search-order" >
              <option selected [value]="null">-chọn dãy-</option>
            </select>
              <select class="my-input-search-order" >
              <option selected [value]="null">-chọn bàn-</option>
            </select>
          </div>
          <hr>
          <h5 style="margin-top: 1em">Danh mục</h5>
          <ul class=" list-unstyled my-ul">
            <li *ngFor="let foodType of foodTypeList">
              <button (click)="setValueSearchCategory(foodType.id)">{{foodType.name}}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-mmd-8 my-row justify-content-center" >
      <div class="col-mmd-12 mb-2 my-row justify-content-center my-frame">
        <div class="col-mmd-12 mb-2 my-row justify-content-center my-container-search-bar">
          <div class="col-mmd-12 my-search-bar">
            <div class="my-container-item-search">
              <input  [(ngModel)]="foodNameSearch" class="my-input-search" placeholder="nhập tên món ăn..." >
              <select [(ngModel)]="foodPriceMinSearch" class="my-input-search" >
                <option selected [value]="null">-chọn giá-</option>
                <option [value]="1"> dưới 50.000đ</option>
                <option [value]="50001"> từ 50.000đ - 100.000đ</option>
                <option [value]="100001"> từ 100.000đ - 150.000đ</option>
                <option [value]="150001"> trên 150.000đ</option>
              </select>
              <select [(ngModel)]="foodTypeIdSearch" class="my-input-search">
                <option selected [value]="null">-chọn loại-</option>
                <option *ngFor="let foodType of foodTypeList" [value]="foodType.id">{{foodType.name}}</option>
              </select>
              <button (click)="searchFood()" type="button" class="my-icon" style="margin-left: 1em">
                Tìm kiếm
<!--                <i style="color: white" class="fa-solid fa-magnifying-glass"></i>-->
              </button>
              <button (click)="reset()" type="button" class="my-icon" style="margin-left: 1em">
                Làm mới
<!--                <i class="bi bi-arrow-clockwise"></i>-->
              </button>
              <div class="float-end my-container-page">
                <button>Trước</button>
                <button>1</button>
                <button>/</button>
                <button>3</button>
                <button>Sau</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-mmd-12 my-row justify-content-center" style="margin-top: 3em;">
        <div class="col-mmd-3 d-flex p-0 justify-content-center"
             *ngFor="let food of foodList">
          <div class="my-card">
            <img class="my-img" src="{{food.image}}"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">{{food.name}}</div>
              <div class="my-row">
                <div class="my-text-fire col-mmd-6" >{{food.rate}} <i class="bi bi-fire"></i></div>
                <div class="my-text-price col-mmd-6" style="text-align: right">{{food.price| number:'1.0-3'}} đ</div>
              </div>

            </div>
            <div [hidden]="isOrder" class="my-frame-card">
              <button class="my-button-card">Thêm vào giỏ hàng</button>
              <button class="my-button-card">Mua ngay</button>
              <button class="my-button-card" routerLink="/food/detail/{{food.id}}" >Xem chi tiết</button>
            </div>
            <div [hidden]="!isOrder" class="my-frame-card">
              <button class="my-button-card">Chọn</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--  Launch static backdrop modal-->
<!--</button>-->

<!-- Modal -->
<div   class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style=" max-width: 50%; height: 75%;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
