
.pagination {
  display: inline-block;
}

.pagination button {
  background-color: #32CD32;
  border-radius: 5px;
  margin: 2px;
  color: black;
  float: left;
  padding: 2px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ffdfc1;
  font-size: 17px;
}

.pagination a {
  border-radius: 5px;
  margin: 2px;
  color: black;
  float: left;
  padding: 2px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #32CD32;
  font-size: 17px;
}

.pagination a.active {
  background-color: #32CD32;
  color: white;
  border: 1px solid black;
  padding: 2px 8px;
}

.pagination a:hover:not(.active) {
  background-color: #32CD32;
  color: white;
  padding: 2px 8px;
}

.pagination button:hover:not(.active) {
  background-color: #4ed24e;
  padding: 2px 8px;
  color: white;
}

.pagination button:focus:not(.active) {
  background-color: #007400;
  padding: 2px 8px;
  color: white;
}

.current-page {
  background-color: #32CD32;
}

.col-full-3 {
  width: 30%;
}

.col-full-7 {
  width: 70%;
}

.col-full-11-5 {
  width: 95%;
}

.col-full-11 {
  width: 90%;
}

.my-table {
  width: max-content;
  border: 1px solid #0c4128;
}

.my-table th, .my-table td {
  padding: 5px;
}

.my-row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

.button-label {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.my-text-name {
  font-family: Bahnschrift,serif;
  font-weight: bold;
  font-size: 16px;
}

.my-text-price {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.my-card {
  position: relative;
  border-radius: 0.4em;
  margin: 5%;
  width: 90%;
  background-color: #FFF8DC;
  border: 2px solid rgba(0, 42, 2, 0.49);
  height: fit-content;
  transition: box-shadow 0.2s ease-in-out;
}

.my-card:hover {
  border: 2px solid rgba(0, 0, 0, 0.84);
  height: fit-content;
  transition: box-shadow 0.2s ease-in-out;
}

.my-card-body {
  padding: 0.4em;
}

.my-frame-card {
  /*transition: width 0.4s ease-in-out;*/
  background-image: linear-gradient(rgb(49, 49, 49), rgba(255, 255, 255, 0.13));
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}

.my-card:hover .my-frame-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.my-card:hover .my-button-card{
  border: 1px solid #6aff7b;
  color: white;
  border-radius: 1em;
  background-image: linear-gradient(#00c400, #006d20);
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  height: 15%;
}
.my-frame-card:hover .my-button-card:hover{
  border: 1px solid #6aff7b;
  color: white;
  border-radius: 1em;
  background-image: linear-gradient(#00a700, #002f0e);
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  height: 15%;;
}

.my-button-card {
  font-size: 1em;
  margin-bottom: 0.2em;
  border: 1px solid #6aff7b;
  border-radius: 1em;
  display: none;
  background-image: linear-gradient(#00a000, #13d500);
  font-family: "Source Sans Pro", sans-serif;
}

.my-ul {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.my-ul li button {
  border: 2px solid #a75a26;
  width: 10em;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.2em;
  padding-left:   0.2em;
  text-align: left;
  margin: 0.5em;
  color: #ffffff;
  background-image: linear-gradient(#7f2700, #4c1600);
  transition: background-color 0.2s ease-in-out;
}

.my-ul li button:hover {
  border: 2px solid #a75a26;
  width: 10em;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.2em;
  padding-left:   0.2em;
  text-align: left;
  margin: 0.5em;
  color: #ffffff;
  background-image: linear-gradient(#ff5300, #9c3001);
  transition: background-color 0.2s ease-in-out;
}

.my-ul li button:focus {
  border: 2px solid #a75a26;
  width: 10em;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.2em;
  padding-left:   0.2em;
  text-align: left;
  margin: 0.5em;
  color: #ffffff;
  background-image: linear-gradient(#ff5300, #ff5300);
  transition: background-color 0.2s ease-in-out;
}

.my-ul li button:hover:focus  {
  border: 2px solid #a75a26;
  width: 10em;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.2em;
  padding-left:   0.2em;
  text-align: left;
  margin: 0.5em;
  color: #ffffff;
  background-image: linear-gradient(#ff5300, #fa6e2a);
  transition: background-color 0.2s ease-in-out;
}

.my-side-bar {
  border-radius: 0.5em;
  margin: 0.5em 1em 1em;
  background-color: #FFDEAD;
  position: sticky;
  top: 11%;
  bottom: 12%;
  right: 2%;
  border: 1px solid #0c4128;
  height: 86vh;
}

.my-img {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  width: 100%;
  height: 180px;
}

.my-frame {
  z-index: 1;
  position: sticky;
  top: 7%;
  bottom: 100%;
  right: 2%;
  height: 2vh;
}

.my-container-search-bar {
  z-index: 2;
  padding: 1em 0.8em 0;
  background-color: #A0522D;
}

.my-search-bar {
  border: 1px solid rgba(248, 248, 248, 0.51);
  padding: 0.4em;
  border-radius: 0.2em;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid black;
}

.my-container-item-search {
  float: right;
}

.my-input-search {
  border: 0;
  border-radius: 0.1em;
  margin-left: 1em;
   width: 12em;
   height: 2.1em;
  background-color: rgba(255, 255, 255, 0.78);
}
.my-input-search:focus {
  outline: none;
  border: 1px solid black;
  border-radius: 0.1em;
  margin-left: 1em;
   width: 12em;
   height: 2.1em;
  box-shadow: 0 0 0;
  background-color: rgb(255, 255, 255);
}

.my-icon {
  padding: 0.4em;
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.27);
}
.my-icon:hover {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #000000;
}





