<div class="my-row justify-content-center " style="margin-top: 4em">
  <div class="col-mmd-10 m-5 " style="background-color: #ffffff">
    <div class="my-row border border-success">
      <div class="col-mmd-6 p-2">
        <img class="my-image-card"
             src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg">
      </div>
      <div class="col-mmd-6 p-2 position-relative">
        <h2>Hủ tiếu chay </h2>
        <small>1000*</small>
        <p>Làm từ 100 thực vật</p>

        <div style="clear:both;"></div>
        <div class="m-detail-button-change m-cart-button-change">
          <h5 class="my-text-price-detail ps-4">10000VND</h5>
          <button>-</button>
          <button>2</button>
          <button>+</button>
        </div>
      </div>
    </div>
    <div class="my-row border border-success">
      <div class="col-mmd-6 my-row">
        <div class="col-mmd-4 p-3">
          <img class="my-image-card" src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg">
        </div>
        <div  class="col-mmd-4 p-3">
          <img class="my-image-card" src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg">
        </div>
        <div class="col-mmd-4 p-3">
          <img class="my-image-card" src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg">
        </div>
      </div>
      <div class="col-mmd-6">
        <div class="my-row p-3">
          <button class="my-button-detail">Thêm vào giỏ hàng</button>
          <button class="my-button-detail">Mua ngay</button>
          <button class="my-button-detail">Đặt bàn</button>
        </div>
      </div>
    </div>
  </div>
</div>
