<div id="carouselExampleInterval" class="carousel slide parent" data-bs-ride="carousel">
  <div class="my-row">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../../assets/img/banner_food.png" class="d-block w-100 " alt="hinh anh">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../../assets/img/banner_food.png" class="d-block w-100" alt="hinh anh">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/banner_food.png" class="d-block w-100" alt="hinh anh">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="my-text-absolute">
    <p class="banner-text">
      Kính chào quý khách, hãy ghé thăm nhà hàng của chúng tôi, chúng tôi sẽ cố gắng đem lại dịch vụ tốt nhất cho quý khách
    </p>
  </div>
  <div class="my-row my-btn-absolute w-100 justify-content-center pb-2">
      <button class="my-btn-red" >Đặt bàn ngay</button>
  </div>
</div>
