body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}


a {
  text-decoration: none;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  height: 4.2rem;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

}

header .logo-name {
  font-size: 1.5rem;
  margin: 0;
  line-height: 2;
  font-weight: bolder;
  /*letter-spacing: 1px;*/
}

@media screen and (max-width: 420px) {
  header .logo-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  header .logo-name {
    font-size: 13px;
  }
}

header .logo .logo-name:hover,
header .logo img:hover {
  -ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08);
  text-decoration: none;
}

header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
  object-fit: contain;
}

#main {
  margin-top: 72px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nabar li {
  position: relative;
}

.n-item{
  background-color: rgba(255, 255, 255, 0);
  padding: 0.2em;
  margin: 0.8em;
  font-weight: bold;
  color: #ffffff;
}

.n-item:hover{
  color: #48ff48;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.dropdownUser {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 10px 0 0 0;
  z-index: 1;
  left: 0;
}

.dropdownUser:hover .dropdown-content {
  display: block;
}

 .my-header-color {
   background-image: linear-gradient(90deg,#003200, #003200, #015301);
 }
