<div class="my-row justify-content-center">
  <div class="login-page">
    <div class="form">
      <form *ngIf="loginForm" [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
        <h1>Đăng nhập</h1>
        <input formControlName="username" type="text" placeholder="tên đăng nhập.." />
        <input formControlName="password" type="password" placeholder="mật khẩu.." />
        <button>Đăng nhập</button>
        <p class="message">
          <a href="#">Quên mật khẩu?</a>
        </p>
        <span class="message" >
          <a href="#">Mail: restquick@gmail.com</a>
        </span>

      </form>
    </div>
  </div>
</div>
