::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #576f4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #090909;
}

.my-row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

.my-main-button {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.2em 0.5em;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 0.2em;
  background-image: linear-gradient(#ff9e50, #ff5500);
}
.my-main-button:hover {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.2em 0.5em;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 0.2em;
  background-image: linear-gradient(#ff5500, #ff9e50);
}

.my-main-button:focus {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.2em 0.5em;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 0.2em;
  background-image: linear-gradient(#ff5500, #ff9e50);
}

@media only screen and (min-width: 0px) {
  .table-container {
    width: 100%;
    height: fit-content;
    overflow-x: auto;
  }

  .fixed-size-table {
    width: max-content;
    table-layout: auto;
    margin-bottom: 1em;
  }

  .fixed-size-table td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .fixed-size-table th {
    text-align: center;
    padding: 8px;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .col-mxs-1 {
    width: 8.33333%;
  }

  .col-mxs-2 {
    width: 16.66667%;
  }

  .col-mxs-3 {
    width: 25%;
  }

  .col-mxs-4 {
    width: 33.33333%;
  }

  .col-mxs-5 {
    width: 41.66667%;
  }

  .col-mxs-6 {
    width: 50%;
  }

  .col-mxs-7 {
    width: 58.33333%;
  }

  .col-mxs-8 {
    width: 66.66667%;
  }

  .col-mxs-9 {
    width: 75%;
  }

  .col-mxs-10 {
    width: 83.33333%;
  }

  .col-mxs-11 {
    width: 91.66667%;
  }

  .col-mxs-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .table-container {
    width: 95%;
    height: fit-content;
    overflow-x: auto;
  }

  .fixed-size-table {
    width: max-content;
    table-layout: auto;
    margin-bottom: 1em;
  }

  .fixed-size-table td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .fixed-size-table th {
    text-align: center;
    padding: 8px;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .col-msm-1 {
    width: 8.33333%;
  }

  .col-msm-2 {
    width: 16.66667%;
  }

  .col-msm-3 {
    width: 25%;
  }

  .col-msm-4 {
    width: 33.33333%;
  }

  .col-msm-5 {
    width: 41.66667%;
  }

  .col-msm-6 {
    width: 50%;
  }

  .col-msm-7 {
    width: 58.33333%;
  }

  .col-msm-8 {
    width: 66.66667%;
  }

  .col-msm-9 {
    width: 75%;
  }

  .col-msm-10 {
    width: 83.33333%;
  }

  .col-msm-11 {
    width: 91.66667%;
  }

  .col-msm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .table-container {
    width: 95%;
    height: fit-content;
    overflow-x: auto;
  }

  .fixed-size-table {
    width: max-content;
    table-layout: auto;
    margin-bottom: 1em;
  }

  .fixed-size-table td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .fixed-size-table th {
    text-align: center;
    padding: 8px;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .col-mmd-1 {
    width: 8.33333%;
  }

  .col-mmd-2 {
    width: 16.66667%;
  }

  .col-mmd-3 {
    width: 25%;
  }

  .col-mmd-4 {
    width: 33.33333%;
  }

  .col-mmd-5 {
    width: 41.66667%;
  }

  .col-mmd-6 {
    width: 50%;
  }

  .col-mmd-7 {
    width: 58.33333%;
  }

  .col-mmd-8 {
    width: 66.66667%;
  }

  .col-mmd-9 {
    width: 75%;
  }

  .col-mmd-10 {
    width: 83.33333%;
  }

  .col-mmd-11 {
    width: 91.66667%;
  }

  .col-mmd-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .table-container {
    width: 95%;
    height: fit-content;
    overflow-x: auto;
  }

  .fixed-size-table {
    width: max-content;
    table-layout: auto;
    margin-bottom: 1em;
    box-shadow: 0 0 10px 0 #32CD32;
    margin-top: 8px
  }

  .fixed-size-table td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .fixed-size-table th {
    text-align: center;
    padding: 8px;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .col-mlg-1 {
    width: 8.33333%;
  }

  .col-mlg-2 {
    width: 16.66667%;
  }

  .col-mlg-3 {
    width: 25%;
  }

  .col-mlg-4 {
    width: 33.33333%;
  }

  .col-mlg-5 {
    width: 41.66667%;
  }

  .col-mlg-6 {
    width: 50%;
  }

  .col-mlg-7 {
    width: 58.33333%;
  }

  .col-mlg-8 {
    width: 66.66667%;
  }

  .col-mlg-9 {
    width: 75%;
  }

  .col-mlg-10 {
    width: 83.33333%;
  }

  .col-mlg-11 {
    width: 91.66667%;
  }

  .col-mlg-12 {
    width: 100%;
  }

}

@media only screen and (min-width: 1200px) {
  .fixed-size-table {
    width: 100%;
    table-layout: auto;
    margin-bottom: 1em;
  }

  .fixed-size-table td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .fixed-size-table th {
    text-align: center;
    padding: 8px;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .col-mxl-1 {
    width: 8.33333%;
  }

  .col-mxl-2 {
    width: 16.66667%;
  }

  .col-mxl-3 {
    width: 25%;
  }

  .col-mxl-4 {
    width: 33.33333%;
  }

  .col-mxl-5 {
    width: 41.66667%;
  }

  .col-mxl-6 {
    width: 50%;
  }

  .col-mxl-7 {
    width: 58.33333%;
  }

  .col-mxl-8 {
    width: 66.66667%;
  }

  .col-mxl-9 {
    width: 75%;
  }

  .col-mxl-10 {
    width: 83.33333%;
  }

  .col-mxl-11 {
    width: 91.66667%;
  }

  .col-mxl-12 {
    width: 100%;
  }
}


