.my-row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

.carousel-item img {
  height: auto;
  max-height: calc(90vh); /* Giả sử bạn muốn giữ khoảng cách 200px ở hai bên carousel */
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.my-btn-absolute {
  position: absolute;
  bottom: 0;
}

.my-text-absolute {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 30%;
  left: 37%;
  width: 70%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.parent {
  position: relative;
}

.banner-text {
  font-family: Arial sans-serif;
  max-width: 100%;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

@keyframes my-animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.my-btn-red {
  animation: my-animation 1s ease-in-out infinite; /* Thời gian chuyển đổi và lặp vô hạn */
  font-weight: normal;
  font-size: 90%;
  padding: 1em;
  color: #ffffff;
  border-radius: 1em;
  background-color: #ee0000;
}

.my-btn-red:hover {
  transition: font-size 0.5s ease-in-out;
  font-weight: bold;
  font-size: 100%;
  padding: 1em;
  color: #ffffff;
  border-radius: 1em;
  background-color: #ff0909;
}

/*@keyframes fade-in-out {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.my-element {
  animation: fade-in-out 2s infinite;
}*/


/*@keyframes color-change {
  0% { background-color: red; }
  50% { background-color: blue; }
  100% { background-color: green; }
}

.my-element {
  animation: color-change 2s infinite;
}*/

/*@keyframes slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.my-element {
  animation: slide-in 1s ease-out;
}
  */
