<div class="my-row justify-content-center my-bg-login" style="margin-top: 4em; padding-bottom: 2em">
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <h1>Đăng nhập</h1>
        <input type="text" placeholder="tên đăng nhập.." />
        <input type="password" placeholder="mật khẩu.." />
        <button>Đăng nhập</button>
        <p class="message">
          <a href="#">Quên mật khẩu?</a>
        </p>
        <span class="message" >
          <a href="#">Mail: restquick@gmail.com</a>
        </span>
      </form>
    </div>
  </div>
</div>
