<div style="margin-top: 4em">
  <div class="my-row ">
    <div class="col-mmd-3 my-row justify-content-center">
        <div class="col-mmd-11 my-side-bar">
          <div class="my-row">
          </div>
          <ul class=" list-unstyled my-ul">
            <li>
              <button>Cơm</button>
            </li>
            <li>
              <button>Lẩu</button>
            </li>
            <li>
              <button>Đồ chay</button>
            </li>
            <li>
              <button>Tráng miệng</button>
            </li>
          </ul>
        </div>
    </div>
    <div class="col-mmd-9 my-row justify-content-center" >
      <div class="col-mmd-11 mb-2 my-row justify-content-center my-frame">
          <div class="col-mmd-12 mb-2 my-row justify-content-center my-container-search-bar">
            <div class="col-mmd-12 my-search-bar">
              <button class="my-button-green ms-4" >Đặt bàn</button>
            </div>
          </div>
      </div>

      <div class="col-mmd-11 my-row justify-content-center" style="margin-top: 4em">
        <div class="col-mmd-3 d-flex p-0 justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>
          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0 justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://images.foody.vn/res/g107/1061349/s400x400/ec6b0207-8226-4557-92ff-31677b33-d19fdbde-210225143321.jpeg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0 justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://canthomekongtour.com/static/media/M%C3%93N%20%C4%82N%20NGON%20VN/gi-cun290220.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>

          </div>
        </div>
        <div class="col-mmd-3 d-flex p-0  justify-content-center">
          <div class="my-card">
            <img class="my-img"  src="https://limody.vn/wp-content/uploads/2020/10/mon-ngon-quan-1-13.jpg"
                 alt="hinh anh">
            <div class="my-card-body">
              <div class="my-text-name">Hủ Tiếu Chay Gia Lai</div>
              <div class="my-text-price">100.000 VNĐ</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
