<div class="my-row justify-content-center" style="margin-top: 6em; margin-bottom: 1em">
  <div *ngFor="let order of orderList" class="col-mmd-10 border border-success justify-content-center my-row ">
    <div class="card mb-3" style="max-width:100%;">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="{{order.image}}" class="img-fluid rounded-start" alt="hinh anh">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{order.name}}</h5>
            <p class="card-text">{{order.description}}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="my-price-cart">{{order.price}}</div>
        </div>
        <div class="col-md-2">
          <div class="card-text m-cart-button-change">
            <button>-</button>
            <button>{{order.quantity}}</button>
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-mmd-10 border border-success justify-content-center my-row ">
    <div class="card mb-3" style="max-width:100%;">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg" class="img-fluid rounded-start" alt="hinh anh">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Hủ Tiếu Chay</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
        </div>
        <div class="col-md-2">
          <div class="my-price-cart">10000VND</div>
        </div>
        <div class="col-md-2">
          <div class="card-text m-cart-button-change">
            <button>-</button>
            <button>2</button>
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-mmd-10 border border-success justify-content-center my-row ">
    <div class="card mb-3" style="max-width:100%;">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg" class="img-fluid rounded-start" alt="hinh anh">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Hủ Tiếu Chay</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
        </div>
        <div class="col-md-2">
          <div class="my-price-cart">10000VND</div>
        </div>
        <div class="col-md-2">
          <div class="card-text m-cart-button-change">
            <button>-</button>
            <button>2</button>
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-mmd-10 border border-success justify-content-center my-row ">
    <div class="card mb-3" style="max-width:100%;">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="https://images.foody.vn/res/g116/1155652/prof/s640x400/foody-upload-api-foody-mobile-im-6522b18f-221112225428.jpeg" class="img-fluid rounded-start" alt="hinh anh">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Hủ Tiếu Chay</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
        </div>
        <div class="col-md-2">
          <div class="my-price-cart">10000VND</div>
        </div>
        <div class="col-md-2">
          <div class="card-text m-cart-button-change">
            <button>-</button>
            <button>2</button>
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
