<div class="my-row justify-content-center" style="margin-bottom: 1em">

  <div class="col-mmd-8 justify-content-center" style=" padding: 1em 0 1em">

    <div *ngFor="let cartItem of cartItemList" class="my-row cart-item" style="background-color: white; margin: 0 1em 0;
     padding:1em; border: 1px solid #000000">
       <div class="col-mmd-2">
         <img src="{{cartItem.image}}" style="width: 100%; height: 10em; border-radius: 0.4em">
       </div>
       <div class="col-mmd-4  d-flex align-items-center" style="align-items: center">
         <div>
           <h5 style="padding-left: 0.5em; ">{{cartItem.name}}</h5>
           <h5 style="padding-left: 0.5em; color:red;"><i class="bi bi-fire"></i>{{cartItem.rate}}</h5>
         </div>

       </div>
       <div class="col-mmd-2 d-flex align-items-center " >
         <p class="my-price-cart">{{cartItem.price}}</p>
       </div>
      <div class="col-mmd-2 d-flex align-items-center ">
        <div class="my-control-quantity">
          <button [hidden]="cartItem.quantity <= 1" (click)="decrease(cartItem)">-</button>
          <button [hidden]="cartItem.quantity > 1" (click)="setIdDelete(cartItem.orderDetailId)" data-bs-toggle="modal" data-bs-target="#removeItemConfirmModal" >-</button>
          <input [(ngModel)]="cartItem.quantity" (change)="getQuantityInput(cartItem)">
          <button (click)="increase(cartItem)">+</button>
        </div>
      </div>
      <div class="col-mmd-2 d-flex justify-content-center align-content-center">
        <input class="form-check-input" type="checkbox" [(ngModel)]="cartItem.isSelected" (change)="calculateTotalMoneyItemSelected()">
      </div>
    </div>

    <div [hidden]="!hasNext" class="my-row justify-content-center pt-2">
      <button class="my-button-load-more" (click)="loadMore()">
        Xem thêm
        <img width="16" height="16" src="../../../assets/img/down-arrow.png" alt="icon">
      </button>
    </div>
    <div [hidden]="cartItemList != null" class="my-row justify-content-center pt-2" style="background-color: rgba(255,255,255,0.24)">
      <h5>Giỏ hàng trống!</h5>
    </div>

  </div>

  <div class="col-mmd-4 my-row justify-content-center" style="box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.58);" >
    <div class="col-mmd-11 my-side-bar">
      <div class="content-side-bar">
        <table style="width: 100%; margin: 0 auto">
          <tr>
            <td>Tổng tiền món ăn: </td>
            <td class="float-end">{{money| number:'1.0-3'}}đ</td>
          </tr>
           <tr>
            <td>Phí ship: </td>
            <td class="float-end">{{shipFee| number:'1.0-3'}}đ</td>
          </tr>
           <tr>
            <td>Tổng tiền phải thanh toán: </td>
            <td class="float-end" style="color: red">{{totalMoney| number:'1.0-3'}}đ</td>
          </tr>
        </table>
        <div class="my-row d-flex justify-content-center pt-2">
          <button [hidden]="totalMoney == 0" type="button" (click)="updatePayPalControl()" class="my-button-new" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Thanh toán bằng Paypal</button>
          <button [hidden]="totalMoney > 0" type="button" class="my-button-new" (click)="displayWarning()">
            Thanh toán bằng Paypal</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Thanh toán</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div [hidden]="!isCheckSuccess" id="payments"></div>
          <div [hidden]="isCheckSuccess">Món ăn quý khách chọn không còn đủ số lượng, vui lòng chọn lại số lượng!</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Quay lại</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="removeItemConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="removeItemConfirmModalLabel">Xác nhận xóa khởi giỏ hàng</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có muốn xóa món ăn này ra khỏi giỏ hàng không?
        </div>
        <div class="modal-footer">
          <button type="button" class="my-button-back" data-bs-dismiss="modal">Không</button>
          <button type="button" class="my-button-new" data-bs-dismiss="modal" (click)="delete()" >Có</button>
        </div>
      </div>
    </div>
  </div>
</div>



